/* univeral styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans', sans-serif;
  font-size: 21px;
  color: White;
  background-color: Black;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 110%;
}

h2 {
  font-size: 33px;
  font-weight: 600;
  line-height: 110%;
}

h3 {
  font-size: 30px;
  ;
  font-weight: 400;
  line-height: 110%;
}

h4 {
  font-size: 27px;
  font-weight: 400;
  line-height: 110%;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
}

p {
  font-size: 21px;
  font-weight: 400;
  line-height: 110%;
}

a {
  color: White;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

figure {
  margin: 10px;
}

figcaption {
  width: 300px;
  font-size: 18px;
  margin-top: 10px;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* nav bar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: Black;
  border-bottom: 1px solid White;
  height: 69px;
  position: sticky;
  top: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
}

.logo {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  margin-left: 10px;
}

/* header / hero section */
#mission {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: Black;
  width: 100%;
  padding: 10px;
}

/* store section */
#store {
  margin: 40px 0;
}

.items {
  max-width: 1000px;
  margin: 0 auto;
}

/* locations section */
#locations {
  background-image: url(../img/locations.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.places {
  background-color: Black;
  width: 300px;
  height: 300px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* footer section */
#contact {
  margin-top: 40px;
}

.contact {
  height: 200px;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}

.copyright {
  text-align: left;
  margin: 20px;
}
